* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo {
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
}

ul {
    float: right;
    margin-right: 20px;
}

ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.section1 {
    padding-top: 70px;
}

.main_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img_text {
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    background-color: midnightblue;
    padding: 10px 20px;
    font-size: 35px;
}

.container {
    padding-top: 70px;
}

.teacher {
    width: 90%;
    height: 200px;
    object-fit: cover;
}

.label_text {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.input_deg {
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid blue;
}

.input_txt {
    width: 30%;
    height: 120px;
    border-radius: 25px;
    border: 1px solid blue;
}

.adm {
    padding-top: 30px;
    padding-bottom: 30px;
    scroll-margin-top: 90px;
}

#admission {
    scroll-margin-top: 90px;
}

#contact {
    padding-top: 50px;
    scroll-margin-top: 90px;
}

footer {
    background-color: black;
    height: 70px;
}

.footer_text {
    text-align: center;
    color: white;
    line-height: 70px;
}